@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* START Section 2 */

  .advantages-section {
    padding: 96px 0;
  }

  .advantages-factors {
    gap: 24px;
  }

  .advantages-item {
    display: flex;
    flex-basis: calc((100% - 24px) / 2);
  }
  /* END Section 2 */

  /* START Section 3 */
  .section-team {
    padding: 96px 92px;
  }

  /* END Section 3 */

  /* START Section 4 */

  .section-portfolio {
    padding: 96px 0;
  }

  .portfolio-list {
    gap: 72px 24px;
  }

  .portfolio-card {
    flex-basis: calc((100% - 24px) / 2);
  }
  /* END Section 4 */

  /* Start Footer */
  .footer {
    padding: 96px 92px;
  }

  .logo-footer {
    justify-content: start;
  }

  .footer-social-link {
    margin: 0 0 0 24px;
  }

  .advice {
    margin-bottom: 72px;
  }

  .footer-media {
    text-align: start;
  }

  .modal-title-footer {
    text-align: start;
  }

  .subscribe-form {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .email-input {
    width: 264px;
  }
  /* END Footer */
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* START Section 2 */
  .advantages-factors {
    flex-wrap: nowrap;
  }
  .advantages-item {
    width: calc((100% - 72px) / 4);
  }

  .advantages-icon {
    display: flex;
  }

  .advantages {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .advantages-list {
    font-weight: 400;
  }

  /* END Section 2 */
  /* START Section 3 */
  .section-team {
    padding: 120px 140px;
  }

  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .team-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* END Section 3 */
  /* START Section 4 */
  .section-portfolio {
    padding: 120px 140px;
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-card {
    flex-basis: calc((100% - 48px) / 3);
  }
  /* END Section 4 */

  /* START Footer */
  /* .footer .container {
    padding: 100px 156px;
  } */

  .footer-content {
    flex-wrap: nowrap;
  }

  .advice {
    width: 264px;
    margin-bottom: 0;
    margin-right: 120px;
  }

  .footer-social-link {
    margin: 0 80px 0 0;
  }
}
